/*
GREY
500 #9E9E9E
50 #FAFAFA
100 #F5F5F5
200 #EEEEEE
300 #E0E0E0
400 #BDBDBD
500 #9E9E9E
600 #757575
700 #616161
800 #424242
900 #212121
*/

.root{

    -fx-font: 16px "Trebuchet";
    -fx-base: #BDBDBD;
    -fx-background: #9E9E9E;
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
    -fx-accent: transparent;


}

.resultsCardText {
    -fx-background-color: #757575;
    -fx-text-fill: black;
    -fx-border-style: solid;
    -fx-border-color: #757575;
    -fx-border-width: 2px;
}

.titleScreenBackdrop{
    -fx-background-color: black;
}

.titleText{
    -fx-text-fill: white;
}

.text-input {
    -fx-highlight-fill: derive(-fx-control-inner-background,-20%);
    -fx-highlight-text-fill: -fx-text-inner-color;
}

.bigger {
    -fx-font: 24px "Trebuchet";
}

.cell:selected, .cell:filled:selected:hover {
    -fx-background: #424242;
}

.cell:filled:hover{
    -fx-background: #9E9E9E;

}

.cell:empty {
    -fx-background: #f1f1f1;
}

.table-row-cell:empty {
    -fx-background-color: #f1f1f1;
}

.table-row-cell:empty .table-cell {
    -fx-border-width: 0px;
}

.sorterCell {
    -fx-text-fill: white;
}

.list-view .scroll-bar:horizontal .increment-arrow,
.list-view .scroll-bar:horizontal .decrement-arrow,
.list-view .scroll-bar:horizontal .increment-button,
.list-view .scroll-bar:horizontal .decrement-button {
    -fx-padding:0;
}

.list-view {
    -fx-padding: 0px 5px 0px 5px;
    -fx-background-color: #9E9E9E;
}

.darkBorder {
    -fx-border-color: black;
    -fx-border-width: 2px;
}

.greenBorder {
    -fx-border-color: green;
    -fx-border-width: 2px;
}

.title-reign-list-view,
.title-reign-list-view .list-cell:empty {
    -fx-background-color: #9E9E9E;
}

.segment-list-view .list-cell,
.title-reign-list-view .list-cell:filled {
    -fx-background-color: #E0E0E0;
    -fx-border-width: 1px 2px 1px 2px;
    -fx-border-color: #616161;
}

.segment-list-view .list-cell:empty {
    -fx-background-color: #9E9E9E;
    -fx-border-color: #9E9E9E;
}

.segment-list-view .list-cell:selected {
    -fx-text-fill: white;
    -fx-background-color: #424242;
}

.segment-list-view .list-cell:selected .button{
    -fx-border-color: #E0E0E0;
}

/*TEAM PANE*/

.teamPane {
    -fx-background-color: #E0E0E0;
    -fx-border-width: 1px 2px 1px 2px;
    -fx-border-color: #616161;
}

.teamPaneListView {
    -fx-background-color: #E0E0E0;
}

.teamPaneListView .list-cell {
    -fx-background-color: #E0E0E0;
    -fx-text-fill: #212121;
}

.teamPaneListView .list-cell:selected {
    -fx-text-fill: #212121;
}

.teamPaneListView .list-cell:filled:hover {
    -fx-background-color: #9E9E9E;
}


.teamPaneNameLabel {
    -fx-text-alignment:center;
    -fx-alignment: center;
    -fx-font-weight: bold;
}



/*WORKER OVERVIEW*/

.workerStatLabel {
    -fx-background-color: #424242;
    -fx-border-width: 5;
    -fx-border-color: #9E9E9E;

    -fx-text-fill: white;
    -fx-padding: 0 5 0 10;
}

.workerStat {
    -fx-background-color: #BDBDBD;
    -fx-border-width: 5;
    -fx-border-color: #9E9E9E;
    -fx-padding: 0 0 0 5;
}


.light-border{
    -fx-border-width: 1;
    -fx-border-color: #E0E0E0;
}


.button{
    -fx-text-fill: white;
    -fx-background-color: #424242;
}

.selectedButton
{

    -fx-background-color: #F5F5F5;
    -fx-text-fill: black;
    -fx-effect: innershadow(three-pass-box, rgba(0,0,0,0.7), 5, 0.0, 3, 3);
}

.bookShowButtonShowToday
{

    -fx-background-color: #424242;
    -fx-text-fill: white;
    -fx-border-color: green;
    -fx-border-width: 2px;
}

.bookShowButtonShowTodaySelected
{

    -fx-background-color: #F5F5F5;
    -fx-text-fill: black;
    -fx-border-color: green;
    -fx-border-width: 2px;
    -fx-border-style: solid;
    -fx-border-radius: 2px;
}

.sorterLabel
{
    -fx-alignment: center;

}

.highStat
{
    -fx-text-fill: green;
}
.highStat.list-cell { 
    -fx-text-fill: black;
    -fx-background-color: lightgreen;
}
.midStat
{
    -fx-text-fill: yellow;
}
.midStat.list-cell { 
    -fx-text-fill: black;
    -fx-background-color: lightyellow;
}

.lowStat
{
    -fx-text-fill: red;
}

.grey-text
{
    -fx-text-fill: #757575;
}

.imageBorder {
    -fx-background-color: #424242;
}

.image-view {
    -fx-border-width: 1px 2px 1px 2px;
    -fx-border-color: #616161;
}

/*CALENDAR*/

.currentDate {
    -fx-background-color: #757575;
}

.selectedCalendarNode
{

    -fx-background-color: #F5F5F5;
    -fx-border-width: 1px 2px 1px 2px;
    -fx-border-color: #616161;
}

.differentMonth

{
    -fx-background-color: #BDBDBD;
    -fx-border-width: 1px 2px 1px 2px;
    -fx-border-color: #616161;

}

.differentMonthText{
    -fx-fill: #E0E0E0
}

.centeredListView .list-cell {

    -fx-alignment: center;
    -fx-text-alignment: center;

}

.progress-bar { 
    -fx-accent: #424242;
}

.progress-bar-level-2 .track{ 
    -fx-background-color: #424242;
}

.progress-bar-level-2 { 
    -fx-accent: #F5F5F5;
}

.dialog-pane {
    -fx-max-width: 500px;
}


.combo-box:disabled, .combo-box:disabled > * {
    -fx-opacity: .75 ;
}